.clear {
  clear: both;
}
.hide {
  display: none;
}
.bg-off {
  background: none;
}
.floatl {
  float: left;
}
.floatr {
  float: right;
}
img.left {
  display: block;
  float: left;
}
img.right {
  display: block;
  float: right;
}
img.center {
  display: block;
  margin: 0px auto;
}
img.alignleft {
  display: block;
  float: left;
}
img.alignright {
  display: block;
  float: right;
}
img.aligncenter {
  display: block;
  margin: 0px auto;
}
.text-left {
  display: block;
  text-align: left;
}
.text-right {
  display: block;
  text-align: right;
}
.text-center {
  display: block;
  text-align: center;
}
.text-justify {
  display: block;
  text-align: justify;
}
ul.plain,
ol.plain {
  list-style: none;
  margin-left: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 0.15px;
}
.whatcolor-text {
  color: #888888;
}
html,
body {
  height: 100%;
}
#browser-wrapper,
#main-wrapper,
#viewport-wrapper {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
#browser-wrapper {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
#main-wrapper {
  width: 100%;
  min-width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
#viewport-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 60px;
}
#COMPANYNAME-company-logo {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 64px;
  height: 63px;
  line-height: 0;
  margin-left: 0;
  float: left;
  background-color: #a3e3c5;
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  /* IE 5-7 */
  filter: alpha(opacity=80);
  /* Netscape */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Webkit */
  -webkit-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8;
}
#COMPANYNAME-company-logo h1 {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 0;
  text-indent: -99999px;
}
#COMPANYNAME-company-logo h1 a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 0;
  font-size: 1.2em;
  text-indent: 0;
}
#COMPANYNAME-company-logo h1 a span {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 64px;
  height: 63px;
  text-indent: 0;
  background: transparent url(../images/logo.png) no-repeat center center scroll;
}
#COMPANYNAME-header-wrp {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: auto;
  margin: 0px auto;
  background-color: #369bd5;
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  /* IE 5-7 */
  filter: alpha(opacity=80);
  /* Netscape */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Webkit */
  -webkit-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8;
}
#COMPANYNAME-header {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 960px;
  height: auto;
  margin: 0 auto;
  background-color: #1f597a;
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  /* IE 5-7 */
  filter: alpha(opacity=80);
  /* Netscape */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Webkit */
  -webkit-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8;
}
#COMPANYNAME-body-wrp {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: auto;
  margin: 0px auto;
}
#COMPANYNAME-body {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 960px;
  height: auto;
  margin: 0 auto;
}
#COMPANYNAME-footer-wrp {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: auto;
  bottom: 0;
  background-color: #3daeef;
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  /* IE 5-7 */
  filter: alpha(opacity=80);
  /* Netscape */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Webkit */
  -webkit-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8;
}
#COMPANYNAME-footer {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 960px;
  height: 30px;
  margin: 0 auto;
  background-color: #28729c;
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  /* IE 5-7 */
  filter: alpha(opacity=80);
  /* Netscape */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Webkit */
  -webkit-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8;
}
/**********************************************************************************************/
/* START - COMPANYNAME CONTACT FORM */
/**********************************************************************************************/
#COMPANYNAME-contactform {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 390px;
  height: auto;
  font: normal normal 400 14px/1.2 "Open Sans", "Arial", sans-serif;
  margin: 0 auto;
}
#COMPANYNAME-contactform h1#title {
  font: normal normal 600 30px/1.2 "Open Sans", "Arial", sans-serif;
  margin: 0 auto;
}
#COMPANYNAME-contactform #responce p {
  color: green;
}
#COMPANYNAME-contactform #responce p.error {
  color: #FF4F03;
}
#COMPANYNAME-contactform form#contactform {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: auto;
}
#COMPANYNAME-contactform form#contactform label {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 390px;
  padding: 5px 0 0;
  margin-bottom: 10px;
  font: normal normal 400 14px/1.5 "Open Sans", "Arial", sans-serif;
  margin: 0 auto;
}
#COMPANYNAME-contactform form#contactform label.error {
  position: absolute;
  display: inline;
  width: auto;
  height: auto;
  padding: 5px;
  top: 25px;
  right: 4px;
  color: #ffffff;
  background-color: #FF4F03;
  font-size: 0.9em;
  border: solid 1px #ff0000;
  -webkit-box-shadow: 0px 1px 3px 0px #999999;
  box-shadow: 0px 1px 3px 0px #999999;
  -webkit-border-radius: 5px;
  moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
}
#COMPANYNAME-contactform form#contactform input {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 370px;
  padding: 5px 8px;
  border: solid 1px #ccc;
  z-index: 1;
}
#COMPANYNAME-contactform form#contactform textarea {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 378px;
  padding: 5px;
  border: solid 1px #ccc;
  z-index: 1;
}
#COMPANYNAME-contactform form#contactform .processing {
  background: transparent url(../images/loader.gif) no-repeat 100% 0% scroll;
  z-index: 2;
}
#COMPANYNAME-contactform form#contactform #captcha-wrp {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
#COMPANYNAME-contactform form#contactform #captcha-wrp label.error {
  top: 0px;
  right: 0px;
}
#COMPANYNAME-contactform form#contactform #captcha-wrp .recaptcha_only_if_privacy {
  margin-top: -3px;
}
#COMPANYNAME-contactform form#contactform #recaptcha_area {
  float: right;
}
#COMPANYNAME-contactform form#contactform .recaptcha_input_area label.error {
  font-size: 1.2em;
  top: 2px;
  right: -137px;
}
#COMPANYNAME-contactform form#contactform #action-button {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  float: right;
  margin-top: 10px;
}
#COMPANYNAME-contactform form#contactform #action-button input {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background: #e8e8e8;
  border: solid 1px #d8d8d8;
  float: left;
  width: auto;
  padding: 8px 25px;
  margin-left: 20px;
  cursor: pointer;
}
#COMPANYNAME-contactform form#contactform #action-button input:hover {
  background: #d8d8d8;
  border: solid 1px #b8b8b8;
  color: #444444;
}
/**********************************************************************************************/
/* END - COMPANYNAME CONTACT FORM */
/**********************************************************************************************/
