span, a, p, em, label, th, td { 
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:normal; font-style:normal;
    word-spacing:0; letter-spacing:0;
    line-height:1.5;
    text-align:left; vertical-align:baseline;
    color:#343434;
    font-size:1.3em;
}

textarea { 
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:normal; font-style:normal;
    word-spacing:0; letter-spacing:0;
    line-height:1.4;
    text-align:left; vertical-align:baseline;
    color:#343434;
    font-size: 1.1em;
}

cite {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:normal; font-style:normal;
    word-spacing: 0; letter-spacing:0;
    line-height:1.5;
    vertical-align:baseline;
    color:#404040;
    font-size:1em;
}

ul, ol { 
    list-style-position: outside;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:normal; font-style:normal;
    word-spacing:0; letter-spacing:0;
    line-height:1.5;
    text-align:left; vertical-align:baseline;
    color:#343434; 
    font-size:1.3em;
}

li p { 
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:normal; font-style:normal;
    word-spacing:0; letter-spacing:0;
    line-height:1.4; 
    text-align:left; vertical-align:baseline;
    color:#343434;
    font-size:inherit;
}

p a         { font-size:inherit; }
a:link      { text-decoration:underline; }
a:visited   { color:#333333 ;}
a:hover     { text-decoration:underline; }
a:active    { text-decoration:underline; }

em          { font-size:inherit; font-style:italic; color:inherit;}
code        { font-size:1.0em; font-style:normal; }
pre         { font-size:1.3em; font-style:normal; }
sup         { font-size:0.8em; vertical-align:top; letter-spacing:0; position:relative; top:-2px; }
sub         { font-size:0.8em; vertical-align:bottom; letter-spacing:0; position:relative; bottom:-2px; }
blockquote  { font-size:1.5em; font-weight:900; font-style:italic; }

h6 { font-family: 'Open Sans', Tahoma, Arial, sans-serif; }
h5 { font-family: 'Open Sans', Tahoma, Arial, sans-serif; }
h4 { font-family: 'Open Sans', Tahoma, Arial, sans-serif; }
h3 { font-family: 'Open Sans', Tahoma, Arial, sans-serif; }
h2 { font-family: 'Open Sans', Tahoma, Arial, sans-serif; }
h1 { font-family: 'Open Sans', Tahoma, Arial, sans-serif; }

h6,h5,h4,h3,h2,h1 { font-weight:400; font-style:normal; word-spacing:0; letter-spacing:0; line-height:1.4; text-align:left; vertical-align:baseline; color:#222; }

h6 { font-size:1.2em; }
h5 { font-size:1.4em; }
h4 { font-size:1.75em; }
h3 { font-size:2.0em; }
h2 { font-size:2.4em; }
h1 { font-size:2.8em; }

ul { list-style-type:disc; }
ol { list-style-type:lower-roman; }
ul li, ol li { font-size:inherit; }
/*ul ul, ul ol, ol ol, ol ul { margin:5px 0px 10px 20px; }*/
table { border-collapse:collapse; }

p{ margin-bottom:20px; }

body{
    
}

#browser-wrapper
{
    position:relative;
    display:block;
    width:100%;
    min-width:100%;
    height:100%;
    min-width:100%;
    margin:0 auto;
}

#main-wrapper
{
    position:relative;
    display:block;
    width:100%;
    min-width:100%;
    height:auto !important;
    height:100%;
    min-height:100%;
    overflow: hidden;
    margin:0 auto;
}

#viewport-wrapper
{
    position:relative;
    display:block;
    width:100%;
    height:auto;
    margin:0 auto;
    padding-bottom:30px;/*modify - optional*/
}

#COMPANYNAME-company-logo{
    position:relative;
    display:block;
}

h1#company{
    position: relative;
    display: inline-block;
    text-indent:-99999px;
    line-height:0em;
    padding:0;
}

h1#company a{
    display : block;
    font-size: 1.2em;
    padding:0;
}

div#company-logo{
  display: block;
  position: relative;
  border: 0 none;
  width:100px;/*modify*/
  height:100px;/*modify*/
  background : transparent url(http://dummyimage.com/100x100/ffffff/222222/&text=Company%20Logo) no-repeat center center scroll;/*../images/COMPANYNAME-logo.png*/
  top:0;
}

#COMPANYNAME-header-wrp{
    position:relative;
    display:block;
    width:100%;
    height:auto;
}

#COMPANYNAME-header{
    position:relative;
    display:block;
    width:960px;
    height:100px;/*modify - optional*/
    margin:0 auto;
}

#COMPANYNAME-body-wrp{
    position:relative;
    display:block;
    width:100%;
    height:auto;
}

#COMPANYNAME-body{
    position:relative;
    display:block;
    width:960px;
    height:auto;
    margin:0 auto;
}

#COMPANYNAME-footer-wrp{
    position:absolute;
    display:block;
    width:100%;
    height:auto;
    bottom:0;
}

#COMPANYNAME-footer{
    position:relative;
    display:block;
    width:960px;
    height:30px;/*modify - optional*/
    margin:0 auto;
}

/* start adding style below */

/***
START - contact form
**/
#contact-form-wrp{ position: relative; display:block; width: 390px; height:auto; margin: 20px 0 20px 0; }
#contact-form{ position: relative; display: block; width: 100%; height:auto; font: normal normal 400 1.4em/1 "Open Sans", "Arial", sans-serif; margin: 0 auto; }
#contact-form label { position: relative; display: inline-block; width:390px; padding: 5px 0 0; font:inherit; margin-bottom:10px; }
#contact-form input { position: relative; display: inline-block; width:370px; padding: 5px 8px; font:inherit; z-index: 1; }
#contact-form textarea { position: relative; display: inline-block; width:378px; padding: 5px; font:inherit; border: solid 1px; z-index: 1; }
#contact-form #action-button { position: relative; display: inline-block; float:right; margin-top: 10px; }
#contact-form #action-button input:hover{ background: #d8d8d8; border: solid 1px #b8b8b8; color:#444444; }
#contact-form #action-button input{
    position: relative;
    display: inline-block;
    background: #e8e8e8;
    border: solid 1px #d8d8d8;
    float:left;
    width:auto;
    padding: 8px 25px;
    margin-left: 20px;
    cursor: pointer;
}
#contact-form .processing{
    background: transparent url(../images/loader.gif) no-repeat 100% 0% scroll;
    z-index: 2;
}
#contact-form label.error{
    position: absolute;
    display: inline;
    width: auto;
    height: auto;
    padding: 5px;
    top: 25px;
    right: 4px;
    color: #ffffff;
    background-color: #FF4F03;
    font-size: 0.9em;
    border: solid 1px #ff0000;
    -webkit-box-shadow: 0px 1px 3px 0px #999999;
            box-shadow: 0px 1px 3px 0px #999999;
    -webkit-border-radius: 5px;
        moz-border-radius: 5px;
            border-radius: 5px;
    z-index: 2;
}
#contact-form-wrp #responce p{ color: green; }
#contact-form-wrp #responce p.error{ color: #FF4F03; }
#captcha-wrp{ position: relative; display: block; }
#captcha-wrp label.error{ top:0px; right: 0px; }
#captcha-wrp .recaptcha_only_if_privacy { margin-top: -3px; }
#recaptcha_area{ float:right; }
#contact-form .recaptcha_input_area label.error{ font-size: 1.2em; top:2px; right: -137px; }
/***
END - contact form
**/

/*** 
START - main menu
**/



/*** 
END - main menu
**/